/*General*/

:root{
    --color-bg-search-bar: #e5e5e5;
    --color-bg-body: #f8f9fa;
    --color-side-bar: #0f263d;
    --color-nav-bar: #1b72e8;
}

body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-body);
}


main{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}


#main-content{
    width: calc(100% - 150px);
    overflow-y: auto;
}

/*Sidebar*/

#sidebar{
    width: 150px;
    height: 100%;
    background-color: var(--color-side-bar);
    background-image: url("../img/sidebar-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top{
    width: 150px;
}

.sidebar-bottom{
    width: 150px;
}

.sidebar-top a{
    text-decoration: none;
    list-style: none;
    color: white;
}

.sidebar-top ul{
    line-height: 40px;
    margin-top: 20px;
}

.sidebar-top i{
    margin-right: 10px;
    font-size: 20px;
}

.sidebar-bottom a{
    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: 2rem;
}

.sidebar-bottom i{
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

/*Header*/

header{
    width: 100%;
    height: 70px;
}

.logo{
    height: 25px;
}

.mobile_logo{
    display: none;
}

.bell{
    font-size: 20px;
    color: rgb(255, 187, 0);
}

/*Search bar*/

form{
    position: relative;
    
}

.my-bg-search{
    background-color: var(--color-bg-search-bar);
}


form > i{
    position: absolute;
    top: 10px;
    left: 10px;
}

input{
    width: 100%;
}

.p_left{
   padding-left: 35px;   
}

.mr_10{
    margin-right: 10px;
}

